:root {
    --primary: rgb(81, 81, 117);
    --primary-darker: rgb(7, 7, 15);
    --secondary: rgb(102, 47, 102);

    --green: green;
    --blue: blue;
    --magenta: magenta;
    --red: red;
}

html, body, h1, h2, h3 {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;

    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: auto 1fr auto;
}

ul {
    list-style-type: none;
}

img {
    display: block;
    max-width: 150px;
}

header {
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1/3;
    padding: 10px;
    grid-column: 1/3;
}

header input {
    background-color: var(--primary-darker);
    border: none;
    padding: 10px;
}

header button {
    border: none;
    border-radius: 5px;
    background-color: var(--secondary);
    padding: 4px 10px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-info-img {
    max-width: 50px;
    border-radius: 50%;
}

aside {
    background-color: var(--secondary);
    padding: 10px;
}

main {
    background-color: var(--primary-darker);
    padding: 10px;
    display: grid;
    grid-auto-columns: auto;
    grid-template-rows: repeat(4,auto);
    row-gap: 5px;
    column-gap: 10px;
}

article {
    background-color: var(--primary);
    padding: 10px;
}

@media(min-width: 576px) {
    main {
        grid-template-columns: repeat(2, minmax(200px, 350px));
    }
}

@media(min-width:996px) {

    main {
        grid-template-columns: repeat(3, minmax(200px, 350px));
    }

    .users {
        grid-column: 3/4;
        grid-row: 1/3;
    }
    
    .usage {
        grid-column: 1/3;
        grid-row: 3/5;
    }
}

footer {
    padding: 10px;
    background-color: var(--primary);
    grid-column: 1/3;
}