header {
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1/3;
    padding: 10px;
    grid-column: 1/3;
}

header input {
    background-color: var(--primary-darker);
    border: none;
    padding: 10px;
}
header button {
    border: none;
    border-radius: 5px;
    background-color: var(--secondary);
    padding: 4px 10px;
}
.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-info-img {
    max-width: 50px;
    border-radius: 50%;
}